
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


 
/*colores*/
$sl-blanco: rgb(255, 255, 255);
$sl-bluepurple: #77A6E1;
$sl-red:#C91515;
$sl-cafe: #4A3203;
$sl-pokefondo: #F1DDDD;
$sl-fondocoltable: #F7F7F7;
$sl-divicoltable: #F2F2F2;
$sl-generacion: #0080FF;
/*fuente*/
$tp-aaeezee:'ABeeZee', sans-serif;;
$tp-roboto:'Roboto', sans-serif;;
$tp-inconsolata: 'Inconsolata', monospace;;