@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
/*colores*/
/*fuente*/
/*propiedades de pagina principal*/
header {
  margin: -8px;
  margin-bottom: 30px;
  margin: -1em;
  padding-bottom: 15px;
}

td {
  text-align: center;
}

table th {
  background-color: #c4c4c4;
}

table tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.imgHeader {
  width: 100%;
}

.main-conteiner {
  padding: 25px;
  font-family: "Roboto", sans-serif;
}
.main-conteiner__section-busqueda {
  margin-bottom: 30px;
}
.main-conteiner__section-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 165px;
  right: 131px;
  top: 305px;
}
.main-conteiner__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.main-conteiner__table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  background-color: #F7F7F7;
  width: 100%;
  border-radius: 10px;
}

.button {
  color: rgb(255, 255, 255);
  background: #77A6E1;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: "ABeeZee", sans-serif;
  outline: none;
}
.button__option {
  color: #77A6E1;
  background-color: rgb(255, 255, 255);
  outline: none;
}

.input-wrapper {
  position: relative;
  width: 271px;
}
.input-wrapper__input {
  box-sizing: border-box;
  color: #77A6E1;
  font-size: 15px;
  padding: 10px 20px 10px 35px;
  width: 100%;
  font-family: "ABeeZee", sans-serif;
  border-radius: 6px;
}
.input-wrapper__input__input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: auto;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.prom {
  float: right;
}

.buttonpill {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background-color: white;
  border: 2px solid #77A6E1;
  transition-duration: 0.2s;
}
.buttonpill:hover {
  background-color: #77A6E1;
  color: white;
}

/* fin de propiedades de pagina principal*/
/*propiedades de modal*/
.modal {
  /* TODO: por default debe estar en none para que inicie oculto  */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Inconsolata", monospace;
  max-width: 100vw;
  max-height: 100vh;
}
.modal__carta-box {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
.modal__carta-box__carta {
  position: relative;
  width: 50%;
  height: 50%;
  transform-style: preserve-3d;
  transition: all 1s linear;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.modal__carta-box__carta:hover {
  transform: rotateY(180deg);
}
.modal__carta-box__carta__cara {
  width: 60%;
  height: 60%;
  position: absolute;
  backface-visibility: hidden;
}
.modal__carta-box__carta__cara__nomPokemon {
  position: absolute;
  top: 60%;
  left: 10%;
  margin-top: 13%;
  font-size: 2vw;
}
.modal__carta-box__carta__cara__imgPokemon {
  position: absolute;
  top: -20%;
  left: 10%;
  width: 80%;
  height: 80%;
  margin-top: 20%;
}
.modal__carta-box__carta__cara__info {
  position: absolute;
  top: 50%;
  left: 90%;
  margin-top: 128%;
  margin-left: -23%;
  font-size: 1vw;
}
.modal__carta-box__carta__caradetras {
  position: absolute;
  width: 60%;
  height: 60%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.modal__carta-box__carta__caradetras__flexbox {
  display: flex;
  justify-content: space-between;
}
.modal__carta-box__carta__caradetras__flexbox__nomPokemon {
  position: absolute;
  top: 60%;
  left: 10%;
  margin-top: 13%;
  font-size: 2vw;
}
.modal__carta-box__carta__caradetras__flexbox__close {
  position: absolute;
  top: 50%;
  left: 90%;
  margin-top: 6%;
  margin-left: -3%;
}
.modal__carta-box__carta__caradetras__flexbox__close__closeButton {
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal__carta-box__carta__caradetras__infoPokemon {
  position: absolute;
  top: -20%;
  left: 10%;
  margin-top: 20%;
  margin-right: 10%;
  font-size: 1vw;
}

.imagenpokemon, #frente, #detras {
  width: 100%;
}

/* fin de propiedades modal*/

.buttonPagination {
  border: none;
  background: #fff;
  margin: 2px;
}

.btnActual {
  background: #dfecf8;
}

.contenedor-horizonal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

canvas {
  /* kposition: relative; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-grafica {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Esto crea un aspecto de 1:1 para el canvas */
  position: relative;

}

.containerGrafica {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;
  /* align-items: cente r; */
}
.coontenedorCard{
    display:flex;
    gap: 6em;
    flex-direction:column;
    justify-content:start;
    align-items: center;
    /* width:420px; */
    font-family: sans-serif;
}

.cardEstadistica {
  background: linear-gradient(180deg, #77A6E1 0%, rgba(26, 29, 193, 0) 100%);
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-size: 15px;
  font-family: "Inconsolata";
}

.container-menu{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2em;
  margin-bottom: 2em;;
}

.busqueda-contenedor{
  display: flex;
  flex-direction: row;
}

.pTotal{
font-size: xx-large;
font-weight: 900;
}

@media screen and (max-width: 1000px) {
.containerGrafica{
  flex-direction: column;
}
.coontenedorCard{
  flex-direction: row;
  justify-content: center;
}
.container-menu{
  flex-direction: column-reverse;
  align-items: baseline;
  gap:0.5em 
}

}

