@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
/* --------------------------------- Colores -------------------------------- */
$sl-blanco: rgb(255, 255, 255);
$sl-bluepurple: #77a6e1;
$sl-red: #c91515;
$sl-cafe: #4a3203;
$sl-pokefondo: #f1dddd;
$sl-fondocoltable: #f7f7f7;
$sl-divicoltable: #f2f2f2;
$sl-generacion: #0080ff;
$sl-fondoModal: #c4c4c4;

$color-fondo: rgba(0, 0, 0, 0.8);
/* --------------------------------- fuentes -------------------------------- */
$tp-aaeezee: "ABeeZee", sans-serif;
$tp-roboto: "Roboto", sans-serif;
$tp-inconsolata: "Inconsolata", monospace;

/* -------------------------------------------------------------------------- */
/*                             //clases del modal                             */
/* -------------------------------------------------------------------------- */

.modal {
  /* TODO: por default debe estar en none para que inicie oculto  */
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-fondo;
  font-family: $tp-inconsolata;
}

.modal-content {
  background-color: $sl-fondoModal;
  margin: 15% auto;
  padding: 20px;
  border-radius: 4%;
  width: 40%;
}

.contenedor-horizonal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.borde-cuadro {
  background: $sl-pokefondo;
  border: 14px solid #4a3203;
  border-radius: 21px;
}

.imgPokemon {
  margin-right: 50px;
  margin-bottom: 40px;
}

/* Ellipse 1 regresar */
.elipse {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  display: flex;
  padding: 2px;
}

/* Ellipse 2 */

.contenedor-elipse {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.imgRegresar {
  object-fit: contain;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .modal-content {
    width: 80%;
  }
}
